 <header class="page-header">
    <h1> Admin Dashboard </h1>
  </header>

  <div >
   <h2>Product Inventory</h2>
   <li>Total Number of Products <%= @products.map{|product| product.quantity}.sum%></li>
   <li>Total Number of Categories <%= @categories.count%></li>
  </div>